<div class = "row">

	<div class = "col-xs-1" id = "step_data_info"> 
  	<%= render partial: "data_input" %> 
  </div>

  <div class = "col-xs-7" id = "profit_booking_info"> 
  	<%= render partial: "profit_booking_info" %>
  </div>
 

  <div class="col-xs-4" id="common_info">
  	<div id ="basic_info">
    	<%= render partial: "currency_info" %>
    </div>
  </div>

</div>


