<div class = "row">

	<div class = "col-xs-1" id = "step_data_info"> 
  	<%= render partial: "data_input" %> 
  </div>

  <div class = "col-xs-7" id = "center_data">
    <div style = "width: 785px;">    
      <div class = "profit_booking_info">
        <label > 1 Minute Info: </label>           
        
        <table class="table table-bordered" style = "width: 150%">
          <thead>
            <tr>
              <th style = "width: 55px;">Price</th>
              <th style = "width: 91px;">Max_count</th>
              <th style = "width: 91px;">Min_Count</th>              
              <th style = "width: 181px;">Profit_max_%</th>
              <th style = "width: 182px;">Profit_min_%</th>
              <th style = "width: 182px;">Profit_avg_%</th>                                         
            </tr>
          </thead>
          <tbody id = "currency_detail_info">     
            <%= render partial: "profit_booking_info" %>
           </tbody>
        </table>      
      </div>                
    </div> 
  	
  </div>
 

  <div class="col-xs-4" id="common_info">
  	<label id="cur_info"> XAUUSD Information: </label>
    <table class="table table-bordered">
      <tbody id = "currency_info">
        <%= render partial: "currency_info" %>
      </tbody>
    </table>

    <label> Ranking Details </label> 
      <table class="table table-bordered">
        <tbody id = "ranking_info">
        </tbody>
      </table>

  </div>

</div>


