<% select_data = @data[0..-2] %>
<% data = @data[-1] %>

<div class = "row">

  <%= render partial: "data_input", locals: {select_data: select_data} %> 

  <%= render partial: "profit_booking_info", locals: {select_data: select_data, default: @default, data: data} %>
 

  <div class="col-xs-4" id="common_info">
    <%= render partial: "currency_info", locals: {data: data} %>
  </div>

</div>


