// Place all the styles related to the currency controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* universal */

#step_data_info {
	width: 11.65%;
	text-align: -webkit-right;
	background-color: #1170DB;
	color: aqua;
	position: fixed;
	overflow-y: hidden;		

	.btn-info {
		background-color: #16883A;
		&:hover {
			background-color: #096125;
		}
	}

	.btn-primary {
		background-color: #0D1494;
		&:hover {
			background-color: #711408;
		}
	}

}

#center_data {
	width: 62%;
	height: 800px;	
	background-color: #BA7B09;
	color: rgb(229, 255, 0);
	margin-left: 12%;
	
	.profit_booking_info {
		padding: 10px 0 10px 0;		
		height: 320px;		
		color: #00ff00;

		.table{
			overflow-x: auto;
			thead {
				display: block;	

				tr{
					background-color: #BD2418;				
					text-align: -webkit-center;			
					color: white;								
				}
			}

			tbody{
				display: block;
				overflow-y: hidden;
				height: 200px;
				width: 102%;

				&:hover{
					overflow-y:auto;
				}				

				tr {
					background-color: #BD2418;					
					text-align: -webkit-center;			
					color: black;				
				}
					
				tr:nth-child(odd) {
					background-color: #E2B970;
				} 

				tr:nth-child(even) {
					background-color: #C75D95;
				}				
			}				
		}

	}
}

#common_info {   
	width: 25.65%;   
	text-align: -webkit-center;   
	margin-left: 75.5%;   
	background-color: #09BABA;
	color: #1000FF;   
	position: fixed;
	overflow-y: hidden;
	height: 600px;
	
	&:hover {
		top: 20px;
		bottom: 0;
		overflow-y: auto;		
	}	

	#currency_info {     
		background-color: #AB2210;     
		color:white;   
	} 

	#ranking_info {

		label {			
			color: white;
		}

		tr {
			text-align: -webkit-center;
		}

		tr:nth-child(odd) {
			background-color: #339313;						
			.table {
				color: #318E4B;

				thead tr{
					background-color: #2063A6;
					color: #D7D419;
				}

				tbody tr:nth-child(odd) {
					background-color: #70E27E;
					
				} 

				tbody tr:nth-child(even) {
					background-color: #065A0E;				
				}
			}
		}

		tr:nth-child(even) {
			background-color: #BE493A;			
			.table {
				color: #B56E65;

				thead tr{
					background-color: #2063A6;
					color: #D7D419;
				}
				
				tbody tr:nth-child(odd) {
					background-color: #894644;
					
				} 

				tbody tr:nth-child(even) {
					background-color: #84130E;				
				}
			}			
		}
		
	}
}

